html 
    head 
        title #{appName}
        link(rel='stylesheet' href=`https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css`)
        link(rel='shortcut icon' href=`${baseUrl}/static/favicon.ico`)
        meta(name='viewport' content-width='device-width' initial-scale=1)
    body
        div.ui.container
            block content
        script(src="https://code.jquery.com/jquery-3.6.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js")            
